[alias]
  st = status
  df = diff
  dfc = diff --cashed
  dfs = diff --staged
  co = checkout
  cob = checkout -b
  b = branch
  ci = commit
  pl = pull
  ps = push

[user]
	name = tamushun
	email = shuntamu@gmail.com
[color]
  ui = auto

[core]
	excludesfile = /Users/a13532/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /opt/homebrew-cask/Caskroom/sourcetree/2.0.0/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
