[alias]
  st = status
  df = diff
  dfc = diff --cashed
  dfs = diff --staged
  co = checkout
  cob = checkout -b
  b = branch
  ci = commit
  pl = pull
  ps = push

[user]
  name = tamushun
  email = shuntamu@gmail.com
[color]
  ui = auto

